<!-- Footer -->
<a id="scroll-to-top-button">
    <i class="fas fa-chevron-up"></i>
</a>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                <% if (config.RSS) { %>
                    <li>
                        <a href="<%= config.root + 'feed.xml' %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fab fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>
                <% if (config.twitter_username) { %>
                    <li>
                        <a target="_blank" href="https://twitter.com/<%= config.twitter_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>
                <% if (config.zhihu_username) { %>
                    <li>
                        <a target="_blank" href="https://www.zhihu.com/people/<%= config.zhihu_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fab  fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.weibo_username) { %>
                    <li>
                        <a target="_blank" href="http://weibo.com/<%= config.weibo_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fab fa-weibo fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.facebook_username) { %>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/<%= config.facebook_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.instagram_username) { %>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/<%= config.instagram_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.github_username) { %>
                    <li>
                        <a target="_blank"  href="https://github.com/<%= config.github_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                <% if (config.linkedin_username) { %>
                    <li>
                        <a target="_blank"  href="https://www.linkedin.com/in/<%= config.linkedin_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>

                </ul>
                <hr>
                <div class="copyright text-muted">
                    Special thanks <a href="https://www.flickr.com/photos/57265953@N06/" target="_blank">Rafael</a>、<a href="https://www.flickr.com/photos/derek-john-lee/14698093740/in/photolist-ooPzcj-r2kVt-ppV21v-brhFX3-wd3Qsy-cLiKEL-xDR92-28QCtA-29YFZZ-gzuZk-dqbhxt-9FwCBY-q57bEv-bVhZJr-dYxGXn-dxg9g7-8x7gjU-dzjMic-rQhf-9TMgJ3-mEsFjW-qbzd4p-q6cJvc-7zYttk-q2gE5S-bdb4G4-8ifmQN-eivVeg-9ZZFVz-aD6q6r-bnjfWh-qJAn2g-k22Ttf-n9Jhfj-kk4woh-sj43iz-5NYGUn-96wNhi-9ZZFz6-8DJkQf-4wQizw-3bzz8p-9yzTSd-xDQee-68Xwfp-7t5WPx-xDTM5-o5RPYA-kWihhy-7iHDEX" target="_blank">Derek</a>、<a href="https://www.flickr.com/photos/mashleymorgan/" target="_blank">mashleymorgan</a>、<a href="https://www.flickr.com/photos/mustafeez27/" target="_blank">mustafeez27</a>         
                    and <a href="http://blog.kaijun.rocks" target="_blank">Kaijun</a>
                    <br> 
                    Copyright &copy; <%= config.SEOTitle %> <%= new Date().getFullYear() %>
                    <hr>
                    <!-- facebook follow -->
                    <div class="fb-like" data-href="https://www.facebook.com/www.kdchang.cc" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<%- js('js/jquery.min.js') %>

<!-- Bootstrap Core JavaScript -->
<%- js('js/bootstrap.min.js') %>

<!-- Custom Theme JavaScript -->
<%- js('js/hux-blog.min.js') %>
<!-- Custom Main JavaScript -->
<script src="/js/main.js"></script>


<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>

<!-- 
     Because of the native support for backtick-style fenced code blocks 
     right within the Markdown is landed in Github Pages, 
     From V1.6, There is no need for Highlight.js, 
     so Huxblog drops it officially.

     - https://github.com/blog/2100-github-pages-now-faster-and-simpler-with-jekyll-3-0  
     - https://help.github.com/articles/creating-and-highlighting-code-blocks/    
-->
<!--
    <script>
        async("http://cdn.bootcss.com/highlight.js/8.6/highlight.min.js", function(){
            hljs.initHighlightingOnLoad();
        })
    </script>
    <link href="http://cdn.bootcss.com/highlight.js/8.6/styles/github.min.css" rel="stylesheet">
-->


<!-- jquery.tagcloud.js -->
<script>
    // only load tagcloud.js in tag.html
    if($('#tag_cloud').length !== 0){
        async("<%= config.url%><%= config.root%>js/jquery.tagcloud.js",function(){
            $.fn.tagcloud.defaults = {
                //size: {start: 1, end: 1, unit: 'em'},
                color: {start: '#bbbbee', end: '#0085a1'},
            };
            $('#tag_cloud a').tagcloud();
        })
    }
</script>

<!--fb.js -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v18.0" nonce="X3eUifxc"></script>


<!--fastClick.js -->
<script>
    async("https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js", function(){
        var $nav = document.querySelector("nav");
        if($nav) FastClick.attach($nav);
    })
</script>

<!-- Google Analytics -->

<% if (config.ga_track_id) { %>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= config.ga_track_id %>"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '<%= config.ga_track_id %>');
</script>

<% } %>
